body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Rubik;

}
.group_top {
    margin-top: 40px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Rubik;
}
.main_back {
    position:relative;
    margin: 0;
    background-image: url('/images/background_top.jpg');
    background-size: cover;
    height: 852px;

}


.top {
    width: 1170px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.top #markethink{
    font-size: 26px; 
    font-weight: 600; 
    letter-spacing: 0.52px;
}
.top #markethink::before{
    content: url(/images/markethink.svg);
    margin-top: -1em;

}
.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 404px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.free_trial {
    font-weight: 500; 
    text-align: center; 
    font-size: 16px; 
    vertical-align:middle;
    line-height: 50px;
    background-color: rgba(28,28,28,0);
    width: 140px;
    height: 55px;
    border-radius: 116px;
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: rgba(255, 255, 255, 0.10);
    color: #fff;

}



.main_text {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 3.6px;
}
.main_text h1 {
    font-size: 90px; 
    margin: 0;
    margin-top: 30px;
    position: relative;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.6px;
    z-index: 2;
    

}
.main_text h1::after{
    width: 473px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='475' height='10' viewBox='0 0 475 10' fill='none'%3E%3Cpath opacity='0.5' d='M473.658 0.0603514C474.177 -0.128608 474.751 0.138905 474.94 0.657858C475.129 1.17681 474.861 1.75069 474.342 1.93965L473.658 0.0603514ZM461.275 5.63336L461.617 6.57301L461.275 5.63336ZM414.07 5.04675L413.741 4.10239L414.07 5.04675ZM408.636 6.93924L408.307 5.99487L408.636 6.93924ZM374.769 4.06076L375.098 5.00512L374.769 4.06076ZM365.604 7.25275L365.275 6.30839L365.604 7.25275ZM334.067 4.77475L334.473 5.68836L334.067 4.77475ZM293.581 5.29233L293.987 6.20595L293.581 5.29233ZM293.114 5.5L292.707 4.58639L293.114 5.5ZM246.948 7.03635L247.283 7.97843L246.948 7.03635ZM213.408 4.98827L213.815 5.90126L213.408 4.98827ZM189.88 4.66678L190.278 3.74918L189.88 4.66678ZM156.195 5.90366L155.768 6.8081L156.195 5.90366ZM119.298 6.02087L118.89 6.93386L119.298 6.02087ZM63.1386 5.3848L62.696 4.4881L63.1386 5.3848ZM44.754 5.37883L44.2986 6.26914L44.754 5.37883ZM1.43853 0.101284L11.4375 4.98031L10.5604 6.77774L0.561468 1.89872L1.43853 0.101284ZM45.2094 4.48853L45.6333 4.70537L44.7226 6.48598L44.2986 6.26914L45.2094 4.48853ZM62.0194 4.82208L62.696 4.4881L63.5813 6.2815L62.9047 6.61548L62.0194 4.82208ZM81.4351 4.24246L83.3328 5.11813L82.4949 6.93412L80.5972 6.05845L81.4351 4.24246ZM117 3.89846L119.706 5.10788L118.89 6.93386L116.184 5.72444L117 3.89846ZM155.28 4.36645L156.622 4.99923L155.768 6.8081L154.427 6.17532L155.28 4.36645ZM190.278 3.74918L193.1 4.97155L192.305 6.80676L189.483 5.58439L190.278 3.74918ZM211.226 4.86769L213 4.07528L213.815 5.90126L212.042 6.69367L211.226 4.86769ZM246.612 6.09428L254.143 3.41326L254.814 5.29741L247.283 7.97843L246.612 6.09428ZM292.707 4.58639L293.174 4.37872L293.987 6.20595L293.521 6.41361L292.707 4.58639ZM331.42 4.85826L333.66 3.86114L334.473 5.68836L332.233 6.68548L331.42 4.85826ZM365.275 6.30839L374.44 3.1164L375.098 5.00512L365.933 8.19712L365.275 6.30839ZM408.307 5.99487L413.741 4.10239L414.399 5.99111L408.965 7.8836L408.307 5.99487ZM460.933 4.69371L473.658 0.0603514L474.342 1.93965L461.617 6.57301L460.933 4.69371ZM437.626 4.48326C445.095 7.33246 453.427 7.4269 460.933 4.69371L461.617 6.57301C453.654 9.47269 444.826 9.37044 436.913 6.35192L437.626 4.48326ZM413.741 4.10239C421.47 1.41037 429.984 1.56818 437.626 4.48326L436.913 6.35192C429.706 3.60277 421.678 3.45592 414.399 5.99111L413.741 4.10239ZM392.186 4.62469C397.121 7.35104 402.983 7.84926 408.307 5.99487L408.965 7.8836C403.104 9.92489 396.651 9.37646 391.219 6.37531L392.186 4.62469ZM374.44 3.1164C380.301 1.0751 386.754 1.62354 392.186 4.62469L391.219 6.37531C386.284 3.64896 380.422 3.15074 375.098 5.00512L374.44 3.1164ZM351.043 4.87764C355.344 7.42972 360.552 7.9533 365.275 6.30839L365.933 8.19712C360.653 10.036 354.831 9.45069 350.023 6.59763L351.043 4.87764ZM333.66 3.86114C339.277 1.36163 345.756 1.74055 351.043 4.87764L350.023 6.59763C345.293 3.79148 339.497 3.45253 334.473 5.68836L333.66 3.86114ZM313.274 4.62931C318.987 7.32143 325.656 7.42314 331.42 4.85826L332.233 6.68548C325.931 9.48986 318.654 9.37543 312.421 6.43851L313.274 4.62931ZM293.174 4.37872C299.567 1.53357 306.95 1.64965 313.274 4.62931L312.421 6.43851C306.617 3.70365 299.842 3.60029 293.987 6.20595L293.174 4.37872ZM273.397 4.36821C279.491 7.24015 286.554 7.32499 292.707 4.58639L293.521 6.41361C286.834 9.38952 279.163 9.29646 272.544 6.17741L273.397 4.36821ZM254.143 3.41326C260.429 1.17528 267.362 1.52474 273.397 4.36821L272.544 6.17741C266.986 3.55841 260.6 3.23723 254.814 5.29741L254.143 3.41326ZM231.373 4.85185C236.04 7.43028 241.589 7.88268 246.612 6.09428L247.283 7.97843C241.72 9.95905 235.575 9.45803 230.406 6.60247L231.373 4.85185ZM213 4.07528C218.906 1.43575 225.71 1.72331 231.373 4.85185L230.406 6.60247C225.292 3.77755 219.149 3.5179 213.815 5.90126L213 4.07528ZM193.1 4.97155C198.889 7.47949 205.466 7.44181 211.226 4.86769L212.042 6.69367C205.77 9.49656 198.609 9.53759 192.305 6.80676L193.1 4.97155ZM172.835 4.5315C178.219 1.60108 184.653 1.31253 190.278 3.74918L189.483 5.58439C184.423 3.39236 178.635 3.65194 173.791 6.28817L172.835 4.5315ZM156.622 4.99923C161.791 7.4378 167.814 7.26405 172.835 4.5315L173.791 6.28817C168.21 9.32565 161.515 9.5188 155.768 6.8081L156.622 4.99923ZM136.431 4.66843C142.327 1.65234 149.29 1.54081 155.28 4.36645L154.427 6.17532C148.997 3.6141 142.686 3.7152 137.341 6.44904L136.431 4.66843ZM119.706 5.10788C125.06 7.50038 131.21 7.3388 136.431 4.66843L137.341 6.44904C131.581 9.39511 124.797 9.57337 118.89 6.93386L119.706 5.10788ZM99.3785 4.58762C104.824 1.62403 111.34 1.3692 117 3.89846L116.184 5.72444C111.093 3.44953 105.232 3.67874 100.335 6.3443L99.3785 4.58762ZM83.3328 5.11813C88.4648 7.48621 94.4142 7.28952 99.3785 4.58762L100.335 6.3443C94.8152 9.34829 88.2007 9.56697 82.4949 6.93412L83.3328 5.11813ZM62.696 4.4881C68.5849 1.58117 75.472 1.49089 81.4351 4.24246L80.5972 6.05845C75.1824 3.55991 68.9286 3.64189 63.5813 6.2815L62.696 4.4881ZM45.6333 4.70537C50.7698 7.33251 56.8461 7.37578 62.0194 4.82208L62.9047 6.61548C57.1643 9.44909 50.422 9.40106 44.7226 6.48598L45.6333 4.70537ZM27.2488 4.67094C32.8426 1.66501 39.5557 1.59683 45.2094 4.48853L44.2986 6.26914C39.2296 3.67649 33.2108 3.73762 28.1955 6.43268L27.2488 4.67094ZM11.4375 4.98031C16.4508 7.42659 22.335 7.31146 27.2488 4.67094L28.1955 6.43268C22.7149 9.37778 16.152 9.50619 10.5604 6.77774L11.4375 4.98031Z' fill='%23C9F87C'/%3E%3C/svg%3E");
    position: absolute;
    top: 90%;
    left: 300px;
    z-index: 0;
}
.main_text h3::before{
    opacity: 0.4;
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #fff;
    right: 200px;
    top: 50%;
    position: absolute;
}
.main_text h3::after{
    
    opacity: 0.4;
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #fff;
    left: 200px;
    top: 50%;
    position: absolute;
}
.main_text h3{
    font-size: 36px;
    margin: 0;
    margin-top:105px;
    letter-spacing: 0.72px;
    opacity: 0.8;
    position: relative;
}


.top_text {
    width: 686px;
    height: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 40px;
    display: inline-block;
    align-items: center;
    margin-top: 30px;
}
.top_button{
    width: 243px;
    height: 78px;
    border-radius: 192px;
    border: 1px solid rgba(255,255,255,0.69);
    background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgba(0,0,0,0.25);
    letter-spacing: 0.4px;
    margin-top: 70px;
}

.partner{
    position: relative;
    height: 140px;
    background-color: #f6fbf9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.service{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px ;

}
.service_main_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service_big_info{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
    width: 500px;
    height: 600px;
    vertical-align: middle;
    text-align: left;
}
.service_big_info h2{
    font-weight: 900;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 2%;
}
.service_big_info p{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    width: 400px;
    color: #78847D;
}
.service_big_info a{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.44px;
    letter-spacing: 2%;
    color: #a3b938;
    text-decoration: underline;
    position: relative;
}
.service_big_info a::after{
    content: url(/images/Arrow\ -\ Right.svg);
    position:absolute;
    top:15%;
}


.service_4mini{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-around;
}
.service_4mini .content_strategy,
.service_4mini .content_creation {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.service_4mini div div h2{
    color: #253D32;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.44px;
}.service_4mini div div p{
    color: #78847D;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 250px;
}


.service_second_info{
    display: flex;
    flex-direction: row;
}
.televisor{
    position: relative;
    width: 700px;
}
.televisor_text{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}
.televisor_text h2{
    width: 488px;
    color: #253D32;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
}
.televisor_text p{
    color: #78847D;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    width: 450px;
}


.feedback{
    background: #F6FBF9;
    height: 664px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.feedback h1{
    color: #253D32;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 154.762% */letter-spacing: 0.84px;margin: 0;
}
.feedback p{
    color: #78847D;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;line-height: normal;
}
.feedback main{
    width: 1050px;
    height: 205px; 
    flex-shrink: 0;  
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.block_1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: relative;
}
.block_1 img{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.block_2,
.block_3,
.block_4{
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    background: #fff;
    border-color: #A2BDAA;;
}
.feedback .see_more{
    margin-top: 60px;
    color: #A3B938;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    position: relative;
}
.feedback a::after{
    content: url(/images/Arrow\ -\ Right.svg);
    position: absolute;
    top: 5px;
}
.hr{
    width: 190px;
    border-top: 2px dashed #A2BDAA;
    margin: 20px;
}


.Our_process_texts{
    width: 1138px;
    flex-shrink: 1;  
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Our_process_texts div {
    width: 180px;
    color: #253D32;
    text-align: center;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 181.818% */
}
.Our_process_texts .first_inf{
    color: #253D32;
    top: 20px;
    width: 180px;
    text-align: center;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 181.818% */
}


.article {
    height: 955px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;

}
.article header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}
.article header div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 466px;
    height: 40px;
    flex-shrink: 0;
    color: #253D32;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.article header div p {
    margin: 0;
}
.article header h1 {
    color: #253D32;
    width: 488px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 154.762% */
    letter-spacing: 0.84px;
    margin: 0;
}

.article main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.article main .big_info{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    box-sizing: border-box;
}
.article main .big_info .read_more{
    margin-top: 40px;
    width: 206px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 192px;
    border: 1px solid #A3B938;
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    background: none;
    color: #98AA28;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
}

.two_little_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
}
.two_little_info #second_img,
.two_little_info #third_img {
    display: flex;
    flex-direction: column;

}
#second_img .eye,
#third_img .eye{
    margin-top: 40px;
    background: none;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 192px;
    border: 1px solid #A3B938;
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
}


.footer{
    height: 1114px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mask_group{
    width: 1170px;
    height: 542px;
    background: linear-gradient(149deg, #395C4D 0.87%, #132D1F 94.27%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-left: 130px;
}
.mask_group p{
    width: 659px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 171.875% */
    letter-spacing: 0.32px;
}
.mask_group input{
    width: 372px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 192px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(332deg, #FFF 3.37%, #E2E2E2 132.9%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    color: #14183E;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    padding-left: 25px;
}
.mask_group input::placeholder{
    color: #14183E;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    padding-left: 5px;
}
.mask_group div{
    margin-top: 60px;
}
.mask_group div button{
    width: 243px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 192px;
    border: 1px solid rgba(255, 255, 255, 0.69);
    background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    color: #FFF;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-left: 30px;
}
.g581{
    position: absolute;
    top: 0;
    left: 0;
}
.g294{
    position: absolute;
    bottom: -27;
    right: -107px;
    width: 400px;
}
.g618{
    width: 264px;
    height: 42.025px;
}
.end_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
}
.end_footer .markethink img{
    width: 198px;
    height: 31.519px;
    flex-shrink: 0;
}
.end_footer .markethink p{
    width: 345px;
    color: #78847D;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
    letter-spacing: 0.2px;
}
.end_footer .markethink a img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 14px
}
.end_footer .menu{
    padding-left: 172px;
    width: 117px;

}
.end_footer .services{
    width: 272px;
    padding-left: 70px;
}
.end_footer .company{
    width: 175px;
    padding-left: 60px;
}
.end_footer .services h2,
.end_footer .company h2,
.end_footer .menu h2{
    color: #253D32;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    margin: 0;
}
.end_footer .services ul,
.end_footer .company ul,
.end_footer .menu ul{
    list-style-type:none;
    padding: 0;
}

.end_footer .services li,
.end_footer .company li,
.end_footer .menu li{
    color: #78847D;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
}
.end_line{
    stroke-width: 1px;
    stroke: rgba(20, 24, 62, 0.15);
    width: 1170px;
    height: 0px;
    flex-shrink: 0;
    margin-top: 60px;
}
.end_text{
    color: #78847D;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    margin-top: 30px;
}
.end_text::before{
    content: url(/images/footer/ant-design_copyright-circle-outlined.png);
}