body {
    margin: 0;
    padding: 0;
}
.group_top {
    margin-top: 40px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Rubik;
}
.main_back {
    position:absolute;
    flex-shrink: 0;
    margin: 0;
    background-image: url('/images/background_top.jpg');
    background-size: contain;
    height: 852px;
    width: 100%;

}

.top {
    width: 1170px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 404px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.free_trial {
    text-align: center;
    width: 140px;
    height: 55px;
    border-radius: 116px;
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: rgba(255, 255, 255, 0.10);
}


.main_text {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 3.6px;
}
.top_text {
    width: 686px;
    height: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 40px;
    display: inline-block;
    align-items: center;
    margin-top: 30px;
}
.top_button{
    width: 243px;
    height: 78px;
    border-radius: 192px;
    border: 1px solid rgba(255,255,255,0.69);
    background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgba(0,0,0,0.25);
    letter-spacing: 0.4px;
}