body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Rubik;

}
.group_top {
    margin-top: 40px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Rubik;
}
.main_back {
    position:relative;
    margin: 0;
    background-image: url('/images/background_top.jpg');
    background-size: cover;
    height: 852px;

}


.top {
    width: 1170px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 404px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.free_trial {
    text-align: center;
    width: 140px;
    height: 55px;
    border-radius: 116px;
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: rgba(255, 255, 255, 0.10);
}


.main_text {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 3.6px;
}
.top_text {
    width: 686px;
    height: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 40px;
    display: inline-block;
    align-items: center;
    margin-top: 30px;
}
.top_button{
    width: 243px;
    height: 78px;
    border-radius: 192px;
    border: 1px solid rgba(255,255,255,0.69);
    background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgba(0,0,0,0.25);
    letter-spacing: 0.4px;
}

.partner{
    position: relative;
    height: 140px;
    background-color: #f6fbf9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.service{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px ;

}
.service_main_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service_big_info{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
    width: 500px;
    height: 600px;
    vertical-align: middle;
    text-align: left;
}
.service_big_info h2{
    font-weight: 900;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 2%;
}
.service_big_info p{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    width: 400px;
    color: #78847D;
}
.service_big_info a{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.44px;
    letter-spacing: 2%;
    color: #a3b938;
    text-decoration: underline;
}

.service_4mini{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-around;
}
.service_4mini div div h2{
    color: #253D32;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.44px;
}.service_4mini div div p{
    color: #78847D;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 250px;
}


.service_second_info{
    display: flex;
    flex-direction: row;
}
.televisor{
    position: relative;
    width: 700px;
}
.televisor_text{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}
.televisor_text h2{
    width: 488px;
    color: #253D32;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
}
.televisor_text p{
    color: #78847D;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    width: 450px;
}


.feedback{
    background: #F6FBF9;
    height: 664px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Our_process_texts div {
    width: 180px;
    color: #253D32;
text-align: center;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 181.818% */
}


.article {
    height: 955px;
    display: flex;
    flex-direction: column;

}
.article header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}
.article header div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 466px;
    height: 40px;
    flex-shrink: 0;
    color: #253D32;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.article header div p {
    margin: 0;
}
.article header h1 {
    color: #253D32;
    width: 488px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 154.762% */
    letter-spacing: 0.84px;
    margin: 0;
}

.article main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.article main .big_info{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    box-sizing: border-box;
}